<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="/patman/sign_up/">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="birthday">Birthday:</label><br>
        <input type="text" id="birthday" name="birthday"><br>
        <label for="tel">Telephone:</label><br>
        <input type="text" id="tel" name="tel"><br>
        <label for="home">Home:</label><br>
        <input type="text" id="home" name="home"><br>
        <label for="accept_id">Accept ID:</label><br>
        <input type="text" id="accept_id" name="accept_id"><br>
        <label for="hos">Hospital:</label><br>
        <input type="text" id="hos" name="hos"><br>
        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio"></textarea><br><br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
